@inherits DefaultComponent

<button class="button @InternalClassName @ClassName" onclick="@OnClick" style="@Style"
        disabled="@(Disabled ?? Enabled == false)" @attributes="AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div class="flex justify-between items-center">
            @if (Icon != null)
            {
                <MsIcon Name="@Icon" Leading="IconLeading"
                        ClassName="@(Text != null ? $"mr-2 {IconClassName}" : IconClassName)"/>
            }
            @Text
        </div>
    }
</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public bool? IconLeading { get; set; } = true;

    [Parameter]
    public string? IconClassName { get; set; }

    [Parameter]
    public bool? Disabled { get; set; }

    [Parameter]
    public bool? Enabled { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected string InternalClassName = null!;
}